body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 20px 0;
}

.word-card {
    background-color: #efefe6;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
}

.word-card.selected {
    background-color: #5a594e;
    color: white;
}

/* Деңгейлер бойынша түстер */
.correct.level-1 { background-color: #f9df6d; } /* Сары */
.correct.level-2 { background-color: #a0c35a; } /* Жасыл */
.correct.level-3 { background-color: #b0c4ef; } /* Көк */
.correct.level-4 { background-color: #ba81c5; } /* Күлгін */

.controls button {
    padding: 15px 25px;
    margin: 5px;
    border-radius: 25px;
    border: 1px solid black;
    background: none;
    cursor: pointer;
    font-weight: bold;
}

.controls button:hover {
    background-color: #eee;
}
#toast-container {
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toast {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    animation: fadeInOut 2s forwards;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(10px); }
    15% { opacity: 1; transform: translateY(0); }
    85% { opacity: 1; }
    100% { opacity: 0; }
}

/* Дұрыс табылған қатардың анимациясы */
.correct {
    transition: all 0.5s ease-in-out;
    transform: scale(1.05);
}
.correct-row {
    grid-column: span 4; /* 4 ұяшықтың орнын алады */
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
    animation: zoomIn 0.5s ease;
}

@keyframes zoomIn {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}
